{
  "extends": ["airbnb-base", "airbnb-typescript/base", "plugin:prettier/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "ignorePatterns": [
    "jest.config.cjs",
    "jest-stackblitz.config.cjs",
    "docs/*",
    "*.json"
  ],
  "rules": {
    "@typescript-eslint/quotes": ["error", "double"],
    "@typescript-eslint/parameter-properties": [
      "error",
      {
        "allow": [
          "public",
          "private",
          "private readonly",
          "public readonly",
          "protected",
          "protected readonly"
        ]
      }
    ],
    "@typescript-eslint/consistent-indexed-object-style": "off",
    "import/prefer-default-export": "off",
    "object-shorthand": "off",
    "max-classes-per-file": ["error", 6],
    "@typescript-eslint/no-magic-numbers": "off",
    // Handled by prettier
    "@typescript-eslint/indent": ["off"]
  },

  "overrides": [
    {
      "files": ["*.test.ts"],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["index.ts"],
      "rules": {}
    }
  ]
}
